body,
html {
  margin: 0px;
  padding: 0px;
}

img{
  height: 145px;
  width: 150px;
}

li{
  list-style: none;
  display: inline;
}
header{
  display: flex;
  justify-content: space-between;
}
main{
  background-color: blue;
  display:grid;
  gap: 10px;
  grid-template-columns:1fr 1fr 1fr 1fr;
  overflow-x: hidden;
  overflow-y: hidden;
}

.store-item{
  background-color: red;
  padding: 10px;
  display:grid;
  grid-row: 1fr 1fr 1fr 1fr; 
  justify-items: center;
}
.product-info > span{
  margin: 10px;
}
footer{
  display: flex;
  justify-content: center;
}

@media (max-width: 830px) {
  .product-info{
    display: inline-flex;
  }
}